Repository chrishylanduk/uk-public-sector-graduate-schemes-list: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint, htmlhint

eslint:
  name: ESLint
  entry: npx eslint .
  language: system
  pass_filenames: false

stylelint:
  name: Stylelint
  entry: npx stylelint "**/*.css" --fix
  language: system
  pass_filenames: false

htmlhint:
  name: HTMLHint
  entry: npx htmlhint .
  language: system
  pass_filenames: false

feat: add Pathways to Planning
  README.md
Due: none

feat: add Home Office dynamic, AWE Evolve, Yorkshire Development Scheme
  README.md
Due: none

feat: add Home Office Digital Development Programme
  README.md
Due: none

feat: add Government Office for Science grad internship scheme
  README.md
Due: none

feat: add National Highways
  README.md
Due: none

chore: improve grammar of feedback section
  README.md
  scripts/build.js
Due: eslint

feat: add search filtering and design tweaks
  static/search.js
  static/styles.css
  templates/layout.html
Due: eslint, stylelint, htmlhint

feat: add cache busting
  scripts/build.js
  templates/layout.html
Due: eslint, htmlhint

chore: make search less prominent
  static/styles.css
Due: stylelint

feat: add two nuclear schemes
  README.md
Due: none

feat: add GORS scheme
  README.md
Due: none

feat: add approach social work
  README.md
Due: none

feat: add more schemes and remove unneeded notes
  README.md
Due: none

chore: keywords
  README.md
Due: none

feat: initial filters
  .stylelintrc.json
  README.md
  config/roles.json
  scripts/build.js
  static/search.js
  static/styles.css
  templates/layout.html
Due: eslint, stylelint, htmlhint

feat: complete role type filters
  README.md
  config/roles.json
  static/search.js
  static/styles.css
  templates/layout.html
Due: eslint, stylelint, htmlhint

fix: improve styling for entries without a link
  static/styles.css
Due: stylelint

feat: collapse role detail filter by default
  static/search.js
  static/styles.css
  templates/layout.html
Due: eslint, stylelint, htmlhint

fix: sort padding above showing x text
  static/styles.css
Due: stylelint

fix: wording tweak
  README.md
Due: none

feat: add career-changers note
  README.md
Due: none

chore: tweak intro
  README.md
Due: none

chore: remove em-dash
  README.md
Due: none

chore: incrase lead font weight
  static/styles.css
Due: stylelint

feat: new schemes
  README.md
Due: none

feat: remove Think Ahead
  README.md
Due: none

feat: add Scottish planners scheme
  README.md
Due: none

feat: add armed forces and restructure
  README.md
  scripts/build.js
  static/search.js
  static/styles.css
Due: eslint, stylelint

chore: fix alphabetical order
  README.md
Due: none

refactor: dev notes in README, split up build js
  .markdownlint.json
  README.md
  scripts/build.js
  scripts/utils/html.js
  scripts/utils/metadata.js
  scripts/utils/pageContent.js
  scripts/utils/paths.js
  scripts/utils/readme.js
  scripts/utils/renderer.js
  scripts/utils/roleConfig.js
  scripts/utils/slugger.js
  static/search.js
Due: eslint

feat: more schemes
  README.md
  static/styles.css
Due: stylelint

chore: clarify wording
  README.md
Due: none

feat: simplify, remove YDS as assumption is it cannot be applied for
  README.md
Due: none

feat: add back YDS without a link
  README.md
Due: none

chore: add back YDS note
  README.md
Due: none

feat: add better YDS link
  README.md
Due: none

update YDS role types
  README.md
Due: none

chore: move YDS
  README.md
Due: none

Path conditions:
  eslint: any of: \.(js|mjs|cjs)$, \.jsx$, \.(ts|mts|cts)$, \.tsx$
  stylelint: any of: \.css$
  htmlhint: any of: \.(html|htm|xhtml)$
