Repository chrishylanduk/uk-public-sector-graduate-schemes-list: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, stylelint, htmlhint

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: "5ba47274f9b181bce26a5150a725577f3c336011" #pragma: allowlist secret
    hooks:
      - id: prettier
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: "3e8a8703264a2f4a69428a0aa4dcb512790b2c8c" #pragma: allowlist secret
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-json
      - id: check-merge-conflict
      - id: check-added-large-files

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.18.1
    hooks:
      - id: markdownlint-cli2

  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
      - id: detect-secrets
        args:
          - --exclude-lines
          - "integrity="

  # --- JavaScript / TypeScript linting ---
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: npx eslint .
        language: system
        types_or: [javascript, jsx, ts, tsx]
        pass_filenames: false

  # --- CSS linting ---
  - repo: local
    hooks:
      - id: stylelint
        name: Stylelint
        entry: npx stylelint "**/*.css" --fix
        language: system
        types: [css]
        pass_filenames: false

  # --- HTML linting ---
  - repo: local
    hooks:
      - id: htmlhint
        name: HTMLHint
        entry: npx htmlhint .
        language: system
        types: [html]
        pass_filenames: false

refactor: transpile to older JS version
  README.md
  client/search.js
  eslint.config.js
  package-lock.json
  package.json
  scripts/build.js
  scripts/utils/paths.js
Due: eslint

feat: better no-js more similar to prevent content jumping
  client/search.js
  scripts/build.js
  scripts/utils/renderer.js
  scripts/utils/roleConfig.js
  static/styles.css
  templates/layout.html
Due: eslint, stylelint, htmlhint

chore: add permissive robots.txt
  static/robots.txt
Due: none

feat: add new schemes
  README.md
Due: none

feat: add schemes
  README.md
Due: none

chore: tweak sections
  README.md
Due: none

feat: six new schemes, split local government by region
  README.md
Due: none

chore: naming
  README.md
Due: none

chore: capitalisation
  README.md
Due: none

feat: 6 new schemes, sitemap
  README.md
  scripts/build.js
  scripts/utils/metadata.js
  scripts/utils/sitemap.js
  static/robots.txt
  templates/layout.html
Due: eslint, htmlhint

chore: tweak to force new deploy
  README.md
Due: none

feat: add link checker
  .mlcrc
  README.md
  package-lock.json
  package.json
Due: none

chore: remove broken link to Basildon council
  README.md
Due: none

chore: link to my site
  templates/layout.html
Due: htmlhint

feat: add DIO scheme, add links to CS jobs when isn't clear in main link
  README.md
Due: none

feat: update EA schemes
  README.md
Due: none

chore: add UKNNL acronym
  README.md
Due: none

feat: expand CAA
  README.md
Due: none

feat: add HMRC finance, remove treasury
  README.md
Due: none

chore: tweak footer
  templates/layout.html
Due: htmlhint

feat: remove old schemes, updated date to top, add terms and privacy policy links
  README.md
  templates/layout.html
Due: htmlhint

feat: add GII scheme after feedback
  README.md
Due: none

chore: run pre-commit hooks
  .markdownlint.json
  README.md
  scripts/build.js
  scripts/utils/metadata.js
  templates/layout.html
Due: eslint, htmlhint

fix: prettier mangled template
  templates/layout.html
Due: htmlhint

feat: updates 2026-09-11
  README.md
Due: none

feat: update yorkshire development scheme link
  README.md
Due: none

feat: add treasury scheme, remove hertfordshire which 404s
  README.md
Due: none

feat: add sellafield ltd, configure with mise
  README.md
  mise.toml
Due: none
